:root {
  --PrimaryColor: hsl(353 , 100%, 65%);
  --SecondaryColor: hsla(353, 100%, 65%, 0.547);
  --BackgroundColor: #2a292925;
  --titleColor: hsl(244, 24%, 26%);
  --textColor: hsl(244, 16%, 43%);
  --WhiteColor: #fff;
  --BlackColor: #000;
  --LinearColor: linear-gradient(to right, #fff, #000);
  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}

.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.5s ease;
}
.home .home__background {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home .home__background .background__heading {
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
  cursor: pointer;
}
.home .home__background .background__heading .icon {
  font-size: 1.3rem;
}
.home .home__background .home__background-chose {
  display: none;
}
.home .home__background .home__background-chose .chooseColor {
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  border: 1.5px solid var(--titleColor);
  border-radius: 20px;
  position: relative;
  background-color: var(--WhiteColor);
}
.home .home__background .home__background-chose .chooseColor .closebtn {
  position: absolute;
  top: 0.2rem;
  right: 0.6rem;
  transition: all 0.5s ease;
}
.home .home__background .home__background-chose .chooseColor .closebtn .icon {
  font-size: 0.8rem;
  color: #000 !important;
}
.home .home__background .home__background-chose .chooseColor .closebtn:hover {
  transform: rotate(-90deg);
}
.home .home__background .home__background-chose .chooseColor .pink {
  color: var(--SecondaryColor);
}
.home .home__background .home__background-chose .chooseColor .pink .icon {
  font-size: 1.4rem;
}
.home .home__background .home__background-chose .chooseColor .yellow {
  color: hsla(59deg, 100%, 65%, 0.518);
}
.home .home__background .home__background-chose .chooseColor .yellow .icon {
  font-size: 1.4rem;
}
.home .home__background .home__background-chose .chooseColor .purple {
  color: hsla(309deg, 100%, 65%, 0.282);
}
.home .home__background .home__background-chose .chooseColor .purple .icon {
  font-size: 1.4rem;
}
.home .home__background .home__background-chose .chooseColor .blue {
  color: hsla(209deg, 100%, 65%, 0.182);
}
.home .home__background .home__background-chose .chooseColor .blue .icon {
  font-size: 1.4rem;
}
.home .home__background .home__background-chose .chooseColor .brown {
  color: hsla(32deg, 100%, 65%, 0.774);
}
.home .home__background .home__background-chose .chooseColor .brown .icon {
  font-size: 1.4rem;
}
.home .home__background .home__background-chose .chooseColor .darkblue {
  color: darkblue;
}
.home .home__background .home__background-chose .chooseColor .darkblue .icon {
  font-size: 1.4rem;
}
.home .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.home .intro .imgDiv {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.home .intro .imgDiv img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .intro .home__name {
  font-size: 1.8rem;
}
.home .intro .home__education {
  font-size: 1.2rem;
  opacity: 0.6;
  font-weight: 600;
}
.home .home__socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.home .home__socials .icon {
  font-size: 1.5rem;
  color: var(--BlackColor);
  transition: all 0.3s ease;
  opacity: 0.6;
}
.home .home__socials .icon:hover {
  opacity: 1;
}
.home .sunnyclock {
  border-radius: 15px;
  padding: 10px 25px;
  background-color: cornsilk;
  box-shadow: var(--shadow);
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  color: sandybrown;
}
.home .scroll__down {
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  overflow-x: hidden;
  width: 100%;
}
.home .scroll__down .mouse__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}
.home .scroll__down .mouse__wrapper .home__scroll-name {
  font-size: 1rem;
  color: var(--BlackColor);
}
@-webkit-keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
.home .scroll__down .mouse__wrapper .mouse {
  border-radius: 50px;
  border: 2px solid var(--BlackColor);
  opacity: 0.7;
  display: block;
  height: 1.5rem;
  width: 1.25rem;
  position: relative;
}
.home .scroll__down .mouse__wrapper .mouse .wheel {
  background-color: var(--titleColor);
  border-radius: 100%;
  width: 0.3rem;
  height: 0.3rem;
  position: absolute;
  top: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: ani-mouse 2s linear infinite;
          animation: ani-mouse 2s linear infinite;
}
/*# sourceMappingURL=home.css.map */