/* gg fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto+Slab:wght@200;300&family=Roboto:wght@100;500&family=Rubik:ital,wght@0,400;0,700;1,400;1,600&family=Work+Sans:ital,wght@0,300;0,600;1,300;1,400&display=swap');

:root{
  --PrimaryColor: hsl(353 , 100%, 65%);
  --SecondaryColor: hsla(353, 100%, 65%, 0.547);
  --BackgroundColor: #2a292925;
  --titleColor: hsl(244, 24%, 26%);
  --textColor: hsl(244, 16%, 43%);
  --WhiteColor: #fff;
  --BlackColor: #000;
  --LinearColor: linear-gradient(to right, #fff, #000);


  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
}
*{
  margin: 0;
  padding:  0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body, button, input{
  font-family: "Rubik", sans-serif;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

/* img{
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
} */

.container{
  max-width: 1080px;
  margin: 0 auto;
}

/* .section{
  padding-top: 5rem;
  padding-bottom: 2rem;
} */

.section__title{
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 1.2rem;
  font-weight: 700;
  position: relative;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 1.6rem;
    margin-left: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .section__title {
    font-size: 1.6rem;
    margin-left: 0rem;
  }
}

@keyframes buttonPush {
  50%{
    transform: scale(0.8);
  }
  100%{
    transform: scale(1);
  }
  
}

.btn{
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 50px;
  box-shadow:  0 0 1px rgb(0 0 0 /10%);
  border: 1px solid transparent;
  color: var(--WhiteColor);
  display: inline-block;
  background-color: var(--PrimaryColor);
  font-weight: 600;
  &:hover{
    animation: buttonPush 0.3s linear 1;
  }
}

.pagePadding{
  padding-left: 3rem;
  padding-right: 3rem;
}

@media screen and (max-width: 768px){
  .pagePadding {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 468px){
  .pagePadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.container{
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.main{
  margin-left: 100px;
}

@media screen and (max-width: 1024px){
  .main{
    margin-left: 0;
  }
}

